{% extends 'core/base.html' %}

{% block title %}Perfil{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around mt-5">
        <div class="col col-md-3 align-self-center text-center" id="form_div">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <p>¿Esta segur@ de apadrinar a este animal?</p>
                <p>Presione "Confirmar pago" para aceptar</p>
                <div class="text-center mt-4 btn-profile-dog"> 
                    <input type="submit"  class="btn btn-dark btncard" value="Confirmar pago" />
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}