<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">

</head>
<body>

  <nav id="menu" class="navbar navbar-expand-lg navbar-dark">
    <a><b><i>Plataforma Educación</i></b> | </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'apadrinar' %}">Actividades</a>
        </li>
        {% endif %}
      </ul>
      
      <span class="navbar-text"></span>
      {% if not request.user.is_authenticated %}
        <a style="color: white;" class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
        <a style="color: white;" class="nav-link" href="{% url 'signup' %}">Registrar</a>
      {% else %}
          <p style="color: white;">Hola {{request.user.username}}!</p> 
        {% if request.user.is_staff %}
          
            <a style="color: white;" class="nav-link" href="/admin">Admin</a>
          
            <a style="color: white;" class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a>
        {% else %}
            <a style="color: white;" class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a>
        {% endif %}
            <a style="color: white;" class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
      {% endif %}
      </span>
    </div>
  </nav>


    
    {% block content %}{% endblock %}
<div>



</div>

<!-- Footer -->
<!-- <footer class="footer">
  
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <b><a id='link_huellitas' href="https://onghuellitasdeboco.cl/"> Huellitas de Boco</a></b>
  </div> 
  
</footer> -->
<!-- Footer -->
    <!-- Bootstrap y Javascripts -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/clean-blog.min.js' %}"></script>

</body>
</html>