{% extends 'core/base.html' %}

{% block title %}Actividades{% endblock %}

{% block content %}

{% if request.user.is_staff %}
<div class="container-fluid">
    <div class ="row justify-content-start">
        {% for activity in activities %}
        <div class="col- col-md-6 align-self-start mt-0 mb-5">
                <div class="card dogcard">
                    <div class="card-body text-center">
                        <td><b>{{activity.name}}</b></td></br>
                        <td><i>{{activity.instruction}}</i></td>
                        <div class="text-center mt-3">
                            {% if activity.document %}
                                <a href="{{activity.document.url}}" class="btn btn-dark btncard">Descargar actividad</a>
                            {% endif %}
                            {% if activity.link %}
                                <a href='{{activity.link}}' class="btn btn-secondary btncard">{{activity.namelink}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class ="row justify-content-start">
        {% for activity_profile in activity_profiles %}
            {% if activity_profile.profile_id == request.user.profile.id %}
            {% for activity in activities %}
                        {% if activity_profile.activity_id == activity.id %}
                        <div class="col- col-md-6 align-self-start mt-0 mb-5">
                            <div class="card dogcard">
                                <div class="card-body text-center">
                                    <td><b>{{activity.name}}</b></td></br>
                                    <td><i>{{activity.instruction}}</i></td>
                                    <div class="text-center mt-3">
                                        <a href="{{activity.document.url}}" class="btn btn-dark btncard">Descargar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

