{% extends 'core/base.html' %}

{% block title %}Perfil de Padrino{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'perfil' %}">Datos personales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'notificaciones' %}">Notificaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'apadrinamientos' %}">Apadrinamientos</a>
  </li>
</ul>
<div class="container-fluid"  id="form_div">
    <div class ="row justify-content-around">
            {% for profile_animal in profile_animals %}
                {% if profile_animal.profile_id == request.user.profile.id %}
                        {% for animal in animals %}
                            {% if animal.animal_id == profile_animal.animal_id%}
                                {% for sponsor in sponsors %}
                                        {% if profile_animal.sponsor == sponsor.sponsor_id %}
                                        <div class="col col-md-5 align-self-start mt-3 text-center alert alert-success" role="alert">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr> <b>{{ sponsor.name }}</b> </tr>
                                            <tr>
                                                <td> <i>{{ profile_animal.created }}</i></td>
                                                {% if animal.gender == 'Macho' or animal.gender == 'macho' %}
                                                <td> {{ animal.name }} Fué apadrinado!</td>
                                                {% else %}
                                                <td> {{ animal.name }} Fué apadrinada!</td>
                                                {% endif %}
                                                <td> <a href=""> <b>Ver más</b> </a>  </td>
                                            </tr>                                
                                            </tbody>
                                        </table> 
                                        <br>
                                        </div>
                                        {% endif %}
                                {% endfor%}
                            {% endif %}
                        {% endfor %}
                {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}