{% extends 'core/base.html' %}

{% block title %}Perfil de Padrino{% endblock %}

{% load static %}

{% block content %}


<div class="container-fluid"  id="form_div">
    <div class ="row justify-content-around">
        {% for perfil in perfiles %}
            {% if perfil.id == request.user.profile.id %}
            <div class="col col-md-3 align-self-start mt-3 text-center">
                    <img class="photo" src="/media/{{perfil.image}}" alt="">
            </div>
            <div class="col col-md-6 align-self-start mt-3" id="form_div">
                <h1 class="text-center">Datos personales</h1>
                <ul>
                    <li><b>Nombre:</b> {{perfil.fname}}</li>
                    <li><b>Apellido:</b> {{perfil.lname}}</li>
                    <li><b>Email:</b> {{perfil.email}}</li>
                </ul>
                
            {% endif %}
        {% endfor %}
        <div class="text-center"><a href="{% url 'perfil-usuario'  %}" class="btn btn-dark btncard">Modificar perfil</a></div>
      </div>
    </div>
</div>

{% endblock %}