{% extends 'core/base.html' %}

{% block title %}Perfil de Padrino{% endblock %}

{% load static %}

{% block content %}

{% if request.user.is_staff %}
{% else %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'perfil' %}">Datos personales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'notificaciones' %}">Notificaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'apadrinamientos' %}">Apadrinamientos</a>
  </li>
</ul>
{% endif %}

<div class="container-fluid"  id="form_div">
    <div class ="row justify-content-around">
        {% for perfil in perfiles %}
            {% if perfil.id == request.user.profile.id %}
            <div class="col col-md-3 align-self-start mt-3 text-center">
                    <img class="photo" src="/media/{{perfil.image}}" alt="">
            </div>
            <div class="col col-md-5 align-self-start mt-3 text-center" id="form_div">
                <table class="table table-hover">
                    <tbody>
                    <tr> <b>Datos</b> </tr>
                    <tr>
                        <td> <i>Nombre: </i></td>
                        <td>{{perfil.fname}}</td>
                    </tr>          
                    <tr>
                        <td> <i>Apellido: </i></td>
                        <td>{{perfil.lname}}</td>
                    </tr>  
                    <tr>
                        <td> <i>E-mail: </i></td>
                        <td>{{perfil.email}}</td>
                    </tr> 
                    <tr>
                      <td> <i>Celular: </i></td>
                      <td>{{perfil.phone}}</td>
                    </tr>  
                    <tr>
                      <td> <i>Dirección: </i></td>
                      <td>{{perfil.address}}</td>
                    </tr>                        
                    </tbody>
                </table> 
            {% endif %}
        {% endfor %}
        <a href="{% url 'perfil-padrino'  %}" class="btn btn-dark btncard text-center">Modificar perfil</a>
      </div>
    </div>
</div>

{% endblock %}