{% extends 'core/base.html' %}

{% block title %}Perfil de Padrino{% endblock %}

{% block content %}

{% if request.user.is_staff %}
{% else %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'perfil-padrino' %}">Datos personales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'notificaciones' %}">Notificaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'apadrinamientos' %}">Apadrinamientos</a>
  </li>
</ul>
{% endif %}

<div class="container-fluid"  id="form_div">
    <div class ="row justify-content-around">
        <div class="col col-md-5 align-self-start mt-3" id="form_div">
            <h4>Datos personales</h4>
            {% if 'ok' in request.GET %}
            <div class="text-center">
                <p style="color: rgb(53, 236, 53)">Los datos de su perfil se han actualizado correctamente</p>
            </div>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="mt-3">{{ form.fname }}</div>
                <div class="mt-3">{{ form.lname }}</div>
                <div class="mt-3">{{ form.image }}</div>
                <div class="mt-3">{{ form.email }}</div>
                <div class="mt-3">{{ form.phone }}</div>
                <div class="mt-3">{{ form.address }}</div>
                {% if request.user.is_staff %}
                <div class="mt-3">{{ form.role }}</div>
                {% endif %}
                <div class="text-center mt-4"> 
                    <input type="submit"  class="btn btn-dark btncard" value="Guardar" />
                </div>
            </form>   
        </div>
    </div>
  </div>     
{% endblock %}