{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear cuenta{% endblock %}
{% block content %}
  <style>.errorlist{color:red;} label{display:none}</style>
  <main role="main">
    <div class="container-fluid">
      <div class="row mt-3 justify-content-around">
        <div class="col-md-7 mx-auto mb-5" id="form_div">
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4 text-center">Registrar cuenta</h3>
            {{form.as_p}}
            <div class="text-center"><input type="submit" class="btn btn-dark btncard" value="Registrar"></div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}